$default-bg: #111111;
$hover: #CDAA7D;

%CormorantGaramond-400{
    font-family: 'CormorantGaramond-Regular', sans-serif;
    font-weight: 400;
}
%CormorantGaramond-600{
    font-family: 'CormorantGaramond-SemiBold', sans-serif;
    font-weight: 600;
}
%CormorantGaramond-700{
    font-family: 'CormorantGaramond-Bold', sans-serif;
    font-weight: 700;
}
%EBGaramond-400{
    font-family: 'EBGaramond-Regular', sans-serif;
    font-weight: 400;
}
%EBGaramond-700{
    font-family: 'EBGaramond-Bold', sans-serif;
    font-weight: 700;
}



// %checkbox-hidden{
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
//     clip: rect(0 0 0 0);
//     position: absolute;
// }